# Dependencies
node_modules/

# Angular
.angular/
dist/

# Spring Boot
target/

# Logs
*.log

# IDE
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Env Files
.env
.env.*

# Build Artifacts
*.jar
*.war

# Maven
.mvn/wrapper/maven-wrapper.jar